/.vscode
/.venv

/chroma

/functions/__pycache__

/_demos/*/.venv
/_demos/*/.env
/_demos/*/__pycache__
/_demos/*/chroma
/_demos/*/.pytest_cache
/_demos/rasademo/actions/__pycache__
/_demos/rasapro/tutorial/.rasa
/_demos/rasapro/tutorial/actions/__pycache__
/_demos/rasapro/calm-demo/.rasa
/_demos/rasapro/calm-demo/actions/__pycache__

# latex
*.aux
*.log
*.gz
*.out
*.bbl
*.blg