/.vscode

/rasapro/.venv
rasapro/.env

/rasapro/tutorial/.rasa
/rasapro/tutorial/actions/__pycache__

/rasapro/calm-demo/.rasa
/rasapro/calm-demo/actions/__pycache__

# latex
*.aux
*.log
*.gz
*.out
*.bbl
*.blg
